#favcont {
    display: block;
    unicode-bidi: isolate;
}

.btn-icon {
    padding: 7px 10px 3px 10px;
}

.cont-fav {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 15px;
}